tk-game {
  /* timer behind the sun*/
  --timout: 1;
  animation: timeout calc(var(--turn-time) * 1s) ease-in forwards, circle 30s linear infinite;
  /* Fold in and out animation */
  --delay: 0s;
  --timeline-marker: 0s;


  &, .competitors, .competitors > * {
    transition: all 0.2s linear;
    transition-property: transform, opacity;
    transition-delay: calc(var(--delay) + var(--timeline-marker));
    //--timeline-marker: .8s;

  }

  .competitors {
    opacity: 1;
    --timeline-marker: .4s;
  }

  .competitors:before {
    /* Moving Sun from player to player (left and right) */
    transition: 1s linear; // --turn is update by js
    transition-property: --turn;
    /* sun going circle  */
    animation: circle 30s linear infinite;
    --progress: clamp(12%, calc(var(--turn, 0) * 100%), 88%);
  }

  &:is(.init, .game-end) {
    transform: rotateX(0deg);

    .competitors {
      opacity: 0;
      transform: rotateX(0deg) translateY(-2em);

      tk-cover-player{
        transform:translateX(0em) !important;
      }

      tk-stopwatch {
        opacity: 0;
      }

      span.vs {
        transform: translateY(0em);
      }
    }
  }

  &.stage-1 {
    --delay: 2s;

    ::before {
      --turn: 0.5;
    }
  }

  &.game-end {
    --delay: 0.5s;
    transition-duration: .2s;

    /* board go last */
    --timeline-marker: .8s;

    /* <menu> fold after  */
    .competitors {
      --timeline-marker: .4s;


      &:before {
        animation: blank-content calc(var(--delay) + 1s) steps(1, end) forwards;
      }

      /* 0 - player fold first */
      * {
        --timeline-marker: 0s;
      }
    }
  }
}


@keyframes blank-content {
  to {
    content: unset;
  }
}