@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

/*@font-face {*/
/*    font-family: arcade;*/
/*    src: url(arcade-webfont.woff2) format('woff2'),*/
/*         url(arcade-webfont.woff) format('woff');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

@font-face {
    font-family: neuropol;
    src: url('neuropol_x_rg-webfont.woff2') format('woff2'),
    url('neuropol_x_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ponderosaregular;
    src: url('ponde___-webfont.woff2') format('woff2'),
    url('ponde___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: alovera;
    src: url(Aloevera.ttf) format('truetype');
}

@font-face {
    font-family: eirian;
    src: url(Eirian.ttf) format('truetype');
}

@font-face {
    font-family: strawberry;
    src: url(StrawberryFields.ttf) format('truetype');
}

@font-face {
    font-family: unicorn;
    src: url(SundayUnicorn.ttf) format('truetype');
}

@font-face {
    font-family: pillot;
    src: url(pillot-command/PilotCommand.otf) ;
}


/*---------------
The available types are: "woff", "woff2", "truetype", "opentype", "embedded-opentype", and "svg".
---------------*/