/* <tk-arena>
 manger of channel section */
tk-arena[phase="APPEAR"] {
  animation: puff 1s normal both;
}

tk-arena[phase="DISAPPEAR"] {
  //position: absolute;
  animation: puff .2s reverse both;
}

tk-arena[phase="SWAP"][ismove="true"]{
  transform-origin: left;
  --dxpx: calc(var(--dx) * 1px);
  --dypx: calc(var(--dy) * 1px);
  animation: trans-move 1s normal both;
}

tk-arena.between-lines[phase="SWAP"][ismove="true"]{
  animation: trans-opacity-move-2 1s normal both;
}
