@import './anime.scss';

tk-arena {
  display: grid;
  grid-template-rows: 1fr max-content 1em;
  align-items: center;
  position: relative;

  min-width: 10em;
  min-height: 10em;

  .game-id {
    color: var(--app-color-bg-shade-2);
    box-shadow: var(--app-color-neumorphism-shadow-2);
    background: var(--app-color-border-shade-1);
    font-family: monospace;
    user-select: text;
  }

}