@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

@font-face {
    font-family: arcaderegular;
    src: url('arcade-webfont.woff2') format('woff2'),
         url('arcade-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: kirby_no_kira_kizzu_brkRg;
    src: url('kirbyss-webfont.woff2') format('woff2'),
         url('kirbyss-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: neuropol_xregular;
    src: url('neuropol_x_rg-webfont.woff2') format('woff2'),
    url('neuropol_x_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ponderosaregular;
    src: url('ponde___-webfont.woff2') format('woff2'),
    url('ponde___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

