li[phase="APPEAR"] {
  transform-origin: top center;
  animation: list-appear 0.5s cubic-bezier(0.39, 0.58, 0.57, 1) forwards ;
}

@keyframes list-appear {
  from {
    transform: translateY(-100%);
    opacity: 0.2;
  }
}

li[phase="DISAPPEAR"] {
  transform-origin: bottom center;
  animation: list-disappear 0.5s ease-in-out forwards;
}

@keyframes list-disappear {
  to {
    transform: translateY(var(--dy)) rotateX(90deg) ;
    opacity: 0;
  }
}

li[phase="SWAP"][data-after-layout="true"] {
  transform-origin: bottom center;
  animation: list-swap 0.5s ease-in-out forwards;
}

@keyframes list-swap {
  from {
    transform: translateY(var(--dy)) ;
  }
}
