tk-arenas {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;

  width: 100%;
  height: 100%;
  gap: .1em;
  border: 1px solid black;
  padding: 1em;

}

tk-arena {
  background-color: var(--bg-color);
  width: 10em;
  height: 10em;
  display: grid;
  grid-template-rows: 2em 1fr;
  padding: 0.2em;
  backdrop-filter: blur(1px);

  h4 {
    margin: 0;
    font-family: neuropol_xregular;
    font-size: 18px;
    background: var(--sw-color);
  }
}

tk-message{
  grid-row: 2;
}


tk-game {
  .competitors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .board {
    display: grid;
    justify-content: center;

    div {
      border: 1px solid black;
      display: flex;
      font-size: 1.2em;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: var(--user-color);
      background-color: var(--bg-color2);
      &:hover{
        filter: brightness(120%);
      }
    }

    grid-template-rows: repeat(3, 2.4em);
    grid-template-columns: repeat(3, 2.4em);
  }
}