tk-arenas {
  display: grid;
  grid-template-columns: repeat( auto-fill, 11em);
  grid-auto-rows: max-content;
  align-content: flex-start;
  gap: 1em;

  width: 100%;
  height: 100%;
  padding: 1em;


  @media (pointer: coarse) {
    /* custom css for "touch targets" */
    flex-flow: column nowrap;
    padding: 0.1em;
    font-size: 2.3em;
  }

  tk-challenge-board{
    position: sticky;
    top: 1em;
  }

  tk-game {
    grid-row: 1/-1;
    grid-column: 1/-1;
  }

  tk-invitation {
    grid-row: 1/-1;
    grid-column: 1/-1
  }

  tk-message {
    grid-row: 1/-1;
    grid-column: 1/-1
  }

}

tk-arena {
  display: grid;
  //grid-template-rows: 2.5em 1fr;
  align-items: center;
  position: relative;

  min-width: 10em;
  min-height: 10em;

  will-change: transition;

  @media (pointer: coarse) {
    /* custom css for "touch targets" */
    width: calc(100vmin - 0.2em);
    height: calc(100vmin - 0.2em);;

  }
  .game-id{
    color: var(--app-color-bg-shade-2);
    /* font-size: 0.5em; */
    box-shadow: var(--app-color-neumorphism-shadow-2);
    position: absolute;
    inset: auto 0 0;
    background: var(--app-color-border-shade-1);
    height: min-content;
    font-family: monospace;
  }

}





