/* base transition speed and timing */
//tk-game {
//  &, * {
//    transition: all .1s ease-out;
//  }
//}

/* sun going circle  */
tk-game {
  .competitors:before {
    animation: circle 30s linear infinite;
  }
}
/* timer behind the sun*/
tk-game {
  --timout:1;

  &.player-1  {
    animation: timeout calc( var(--turn-time) * 1s) ease-in forwards,  circle 30s linear infinite ;
  }
  &.player-2  {
    animation: timeout-2 calc( var(--turn-time) * 1s) ease-in forwards,  circle 30s linear infinite;
  }
}

@keyframes timeout{
  1%{
    --timeout:1;
  }
  to{
    --timeout:0;
  }
}
@keyframes timeout-2{
  1%{
    --timeout:1;
  }
  to{
    --timeout:0;
  }
}

/* general thinks */
tk-game {
  --delay: 0;
  transition-delay: var(--delay);

  .competitors {
    opacity: 1;
    transition-delay: calc(var(--delay) + .4s);

    & > * {
      transition-delay: calc(var(--delay) + .8s);
    }

  }

  &:is(.init, .game-end) {
    transform: rotateX(0deg);

    .competitors {
      opacity: 0;
      transform: rotateX(0deg) translateY(-2em);

      tk-cover-player {
        left: 0
      }

      tk-cover-player.rtl {
        left: auto;
        right: 0
      }

      span.vs {
        margin-top: 0
      }
    }
  }

  &.stage-1 {
    --delay: 2s;

    ::before {
      --turn: 0.5;
    }
  }

  &.game-end {
    --delay: 0.5s;
    transition-duration: .2s;

    /* boar go last */
    transition-delay: calc(var(--delay) + .8s);

    /* <menu> fold after  */
    .competitors {
      background-image: none;
      transition-delay: calc(var(--delay) + .4s);

      /* 0 - player fold first */
      * {
        transition-delay: calc(var(--delay));
      }
    }
  }

}

