
tk-users {
  background-color: rgba(100, 100, 100, 0.4);
  grid-row: 2/3;
  overflow: auto;
  padding: 0.3em 0.1em;

  &:after{
    display: flex;
    position: absolute;
    left: 0;right: 0;
    top:0; bottom: 0;
    place-content: center;
    place-items: center;
    user-select: none;
    z-index: -1;
    content: attr(decorationText);
    font-family: neuropol_xregular;
    font-size: 30px;
  }
}

tk-user {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 0.1em;
  cursor: pointer;


  &[ai] .name::after {
    content: "(AI)";
    font-size: 0.5em;
    margin-left: 0.1em
  }


  .name {
    text-align: left;
    flex: 1;
    margin-left: 0.1em;
    text-transform: capitalize;
  }

  .color {
    width: 1em;
    height: 0.7em;
    margin: 0.1em 0;
    border-radius: 4em;
    background-color: var(--user-color);
  }

  &[time] .color {
    color: var(--user-color);
    background: conic-gradient(currentColor var(--progress), transparent var(--progress));

  }
  @keyframes fadeIn {
    from {
      --opacity: 0
    }
    to {
      --opacity: 1
    }
  }

  .score {
    &:after {
      content: "pt";
    }
  }


  &[avatar] {
    &:before {
      content: attr(mark);
      color: var(--user-color, white);
      width: 1em;
      height: 1em;
    }

    display: flex;
    flex-direction: column;
    border-radius: 50%;
    border-bottom: 1px solid var(--user-color);
    padding: 0.3em;
    padding-top: 0;
    margin-top: -0.1em;

    .color {
      display: none
    }

    .name {
      font-size: 0.5em;
      flex:0;
    }

    .score {
      font-size: 0.5em;
    }

    .score:after {
      display: none;
    }
  }
}