/* <tk-player> User element
  -----------------------------*/
tk-player {
  /* player style and Icons
  -------------------------------*/
  --deg: 0deg;
  background-color: var(--app-color-bg-shade-1);
  background-image: linear-gradient(to bottom, var(--player-color) 1em, transparent 1.5em);


  border-radius: var(--border-radius-small);
  outline: 0.1em solid var(--player-color-shade-1);
  outline-offset: 0.1em;
  align-items: center;

  padding: 0.3em;
  width: min-content;

  //--from-color: var(--player-color-text);
  //--to-color: #1a4e64;
  color: var(--player-color-text);

  svg {
    width: 2.5em;
    height: 2.5em;
  }

  i, svg {

  }

  i.fa-solid {
    font-size: 2em;
  }

  dt {
    color: var(--player-color);
    mix-blend-mode: multiply;
  }


  dd {
    font-family: "FontAwesome";
    color: hsl(0deg 0% 100% / 49%);
  }

  [name="name"] {
    font-size: .8em;
  }

  [name="nickname"] {
    font-size: 0.6em;
    margin-top: 0.5em;
  }

  [data-online] {
    color: green;
  }

  /* player layout
---------------------------*/
  display: grid;
  justify-content: space-between;
  grid-auto-columns: max-content;

  justify-items: center;
  gap: 0.1em;

  grid-template-areas:
    "avatar name name"
    "nickname nickname nickname";

  dt {
    grid-row: 5;
  }

  dd {
    grid-row: 7;

  }

  dl {
    display: contents;
  }


  svg, i /*avatar*/
  {
    grid-area: avatar;
  }

  [name="name"] {
    grid-area: name;
    place-self: start;

  }

  [name="nickname"] {
    grid-area: nickname;
  }

  [name="coconnection"] {
    grid-area: avatar;
  }

}

/************************************
<tk-cover-player> movement mask element - reveal effect
------------------------------------*/
tk-cover-player {
  position: relative;

  width: 2.6em;
  height: 2.6em;

  // transition: width,height 0.2s ease-in-out;

  clip-path: polygon(30% 0%, 70% 0%, 85% 15%, 200% 30%, 200% 70%, 85% 85%, 70% 100%, 30% 100%, 30% 100%, 0% 70%, 0% 30%, 30% 0%);

  &.rtl {
    direction: rtl;
    clip-path: polygon(30% 0%, 70% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 70% 100%, 30% 100%, 15% 85%, -100% 70%, -100% 30%, 15% 15%);
  }

  // will-change: clip-path, transform;

  tk-player {
    row-gap: 0.1em;

    grid-area: avatar;
    margin-block-start: -0.2em;
    margin-inline-start: -0.5em;

    [name="name"] {
      inset-block-start: 1em;
      position: relative;
    }

    [name="nickname"] {
      //font-size: 0.6em;
      //margin-top: 0.5em;
    }

    &:is(svg,i) {
      inset-inline-start: -0.1em;
      position: relative;
      inset-block-start: -0.2em;
    }

  }

  &:hover {
    z-index: 2;
    clip-path: polygon(-3em -3em, 10em -3em, 10em -3em, 10em -3em, 10em 10em, 10em 10em, 10em 10em, -3em 10em, -3em 10em, -3em 10em, -3em -3em, -3em -3em) !important;

    [name="name"] {
      inset-block-start: 0;
    }

  }
}

/*
  <tk-cover-player> disconnected
************************************/
tk-cover-player.disconnected {
  opacity: 0.5;
  filter: grayscale(100%);
}

/*
  <tk-player>
  configurable player element
**************************************/
tk-player:is([showscore],[showname],[showicon]) {
  :is(dt, dd) {
    display: none;
  }

  &[showscore="true"] {
    [name="score"] {
      display: unset;
    }
  }

  &[showname="true"] {
    [name="name"], [name="nickname"] {
      display: unset;
    }
  }

  &[showicon="true"] {
    [name="icon"] {
      display: unset;
    }
  }
}

/*
<tk-player> Small Banner
----------------------------------*/
tk-player.small-banner {
  width: auto;

  svg {
    font-size: 1.3em;
    width: 1.5em;
    height: 1.5em;
  }

  i {
    font-size: 2em;
  }

  grid-template-areas:
    "avatar name name score"
    "avatar nickname nickname score";


  [name="score"] {
    grid-column: 4;
    grid-row: auto;
  }

}

// <tk-player class="just-head">
tk-player.just-head{
  outline: none;
  font-size: .8em;
  background: none;
}