tk-invitation {

  padding: 10px;
  border: 0.2em solid transparent;
  border-radius: var(--border-radius-medium);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap:1em;

}

tk-message.canceled {
  transition: 5s ease;
  transition-property: border-color, filter, mix-blend-mode;
  border-color: gray;
  filter: grayscale(.3);
  mix-blend-mode: grayscale(0.6);
}