@layer components {
  .App {
    background-color: var(--app-color-bg);
    color: var(--app-color-text);
    font-family: var(--font-1);

    text-align: center;
    display: grid;
    grid-template-rows: 5vh 95vh;

    * {
      user-select: none;
    }
  }

  .app-header {
    background-color: var(--app-color-bg-shade-1);
    font-family: var(--font-2);

    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
    font-size: calc(10px + 5vmin);

    padding: 0 0.5em;

    tk-player {
      font-size: 0.4em;

      svg {
        font-size: .9em !important;
      }
    }
  }

  .app-header.introduce-finish {
    animation: shrink-up 1s 1s both;

    tk-player {
      animation: opacity .5s 1.7s both;
    }

    .disconnect-icon {
      animation: opacity .5s 2s both;
    }
  }

  main {
    display: flex;
    overflow-y: auto;
    place-items: center;
    place-content: center;
  }

  .disconnect-icon {
    width: 1em;
    height: 1em;
    color: var(--app-color-text-error)

  }
}