@font-face {
    font-family: 'arcaderegular';
    src: url('fonts/arcade-webfont.woff2') format('woff2'),
         url('fonts/arcade-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kirby_no_kira_kizzu_brkRg';
    src: url('fonts/kirbyss-webfont.woff2') format('woff2'),
         url('fonts/kirbyss-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neuropol_xregular';
    src: url('fonts/neuropol_x_rg-webfont.woff2') format('woff2'),
    url('fonts/neuropol_x_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ponderosaregular';
    src: url('fonts/ponde___-webfont.woff2') format('woff2'),
    url('fonts/ponde___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

