@import "./style/reset.scss";
@import "./fonts/fonts.css";
@import "./style/css-properties.scss";
@import "./style/button.scss";
@import "./style/keyframe-animation.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




